<%- include("partials/header") -%>

<!-- Total Box -->
<form action="/main/create/mainbox" method="POST">
  <div class="total-box marT_60">
    <!-- Top Line -->
    <div class="line">
      <div class="plan-box">
        <div class="boxes">
          <input type="text" class="box-el" name="TopLeftPlan" />
          <input type="text" class="box-el" name="TopLeftPlan" />
          <input type="text" class="box-el" name="TopLeftPlan" />
        </div>
        <div class="boxes">
          <input type="text" class="box-el" name="TopLeftPlan" />
          <input
            type="text"
            class="box-el <%=themeColor%> side-objective"
            name="TopLeftObj"
          />
          <input type="text" class="box-el" name="TopLeftPlan" />
        </div>
        <div class="boxes">
          <input type="text" class="box-el" name="TopLeftPlan" />
          <input type="text" class="box-el" name="TopLeftPlan" />
          <input type="text" class="box-el" name="TopLeftPlan" />
        </div>
      </div>

      <div class="plan-box">
        <div class="boxes">
          <input type="text" class="box-el" />
          <input type="text" class="box-el" />
          <input type="text" class="box-el" />
        </div>
        <div class="boxes">
          <input type="text" class="box-el" />
          <input
            type="text"
            class="box-el side-objective <%=themeColor%>"
            name="Top"
          />
          <input type="text" class="box-el" />
        </div>
        <div class="boxes">
          <input type="text" class="box-el" />
          <input type="text" class="box-el" />
          <input type="text" class="box-el" />
        </div>
      </div>

      <div class="plan-box">
        <div class="boxes">
          <input type="text" class="box-el" />
          <input type="text" class="box-el" />
          <input type="text" class="box-el" />
        </div>
        <div class="boxes">
          <input type="text" class="box-el" />
          <input
            type="text"
            class="box-el <%=themeColor%> side-objective"
            name="TopRight"
          />
          <input type="text" class="box-el" />
        </div>
        <div class="boxes">
          <input type="text" class="box-el" />
          <input type="text" class="box-el" />
          <input type="text" class="box-el" />
        </div>
      </div>
    </div>

    <!-- Middle Line -->

    <div class="line">
      <div class="plan-box">
        <div class="boxes">
          <input type="text" class="box-el" />
          <input type="text" class="box-el" />
          <input type="text" class="box-el" />
        </div>
        <div class="boxes">
          <input type="text" class="box-el" />
          <input
            type="text"
            class="box-el <%=themeColor%> side-objective"
            name="Left"
          />
          <input type="text" class="box-el" />
        </div>
        <div class="boxes">
          <input type="text" class="box-el" />
          <input type="text" class="box-el" />
          <input type="text" class="box-el" />
        </div>
      </div>

      <div class="plan-box middle">
        <div class="boxes">
          <input
            type="text"
            class="box-el <%=themeColor%> middleObj"
            middleObj
            name="TopLeftObj"
          />
          <input
            type="text"
            class="box-el <%=themeColor%> middleObj"
            name="Top"
          />
          <input
            type="text"
            class="box-el <%=themeColor%> middleObj"
            name="TopRight"
          />
        </div>
        <div class="boxes">
          <input
            type="text"
            class="box-el <%=themeColor%> middleObj"
            name="Left"
          />
          <input type="text" class="box-el main-text" name="mainObj" />
          <input
            type="text"
            class="box-el <%=themeColor%> middleObj"
            name="Right"
          />
        </div>
        <div class="boxes">
          <input
            type="text"
            class="box-el <%=themeColor%> middleObj"
            name="BottomLeft"
          />
          <input
            type="text"
            class="box-el <%=themeColor%> middleObj"
            name="Bottom"
          />
          <input
            type="text"
            class="box-el <%=themeColor%> middleObj"
            name="BottomRight"
          />
        </div>
      </div>

      <div class="plan-box">
        <div class="boxes">
          <input type="text" class="box-el" />
          <input type="text" class="box-el" />
          <input type="text" class="box-el" />
        </div>
        <div class="boxes">
          <input type="text" class="box-el" />
          <input
            type="text"
            class="box-el <%=themeColor%> side-objective"
            name="Right"
          />
          <input type="text" class="box-el" />
        </div>
        <div class="boxes">
          <input type="text" class="box-el" />
          <input type="text" class="box-el" />
          <input type="text" class="box-el" />
        </div>
      </div>
    </div>

    <!-- Bottom Line -->
    <div class="line">
      <div class="plan-box">
        <div class="boxes">
          <input type="text" class="box-el" />
          <input type="text" class="box-el" />
          <input type="text" class="box-el" />
        </div>
        <div class="boxes">
          <input type="text" class="box-el" />
          <input
            type="text"
            class="box-el <%=themeColor%> side-objective"
            name="BottomLeft"
          />
          <input type="text" class="box-el" />
        </div>
        <div class="boxes">
          <input type="text" class="box-el" />
          <input type="text" class="box-el" />
          <input type="text" class="box-el" />
        </div>
      </div>

      <div class="plan-box">
        <div class="boxes">
          <input type="text" class="box-el" />
          <input type="text" class="box-el" />
          <input type="text" class="box-el" />
        </div>
        <div class="boxes">
          <input type="text" class="box-el" />
          <input
            type="text"
            class="box-el <%=themeColor%> side-objective"
            name="Bottom"
          />
          <input type="text" class="box-el" />
        </div>
        <div class="boxes">
          <input type="text" class="box-el" />
          <input type="text" class="box-el" />
          <input type="text" class="box-el" />
        </div>
      </div>

      <div class="plan-box">
        <div class="boxes">
          <input type="text" class="box-el" />
          <input type="text" class="box-el" />
          <input type="text" class="box-el" />
        </div>
        <div class="boxes">
          <input type="text" class="box-el" />
          <input
            type="text"
            class="box-el <%=themeColor%> side-objective"
            name="BottomRight"
          />
          <input type="text" class="box-el" />
        </div>
        <div class="boxes">
          <input type="text" class="box-el" />
          <input type="text" class="box-el" />
          <input type="text" class="box-el" />
        </div>
      </div>
    </div>
  </div>
  <button type="submit">Submit</button>
</form>

<script src="/scripts/mainbox.js"></script>

<%- include('partials/footer') %>
