<%- include("partials/header") -%>

<div>

     <td class="mainBoxContainer">
            <form action="/mainbox" method="post">
            <table id="mainBox">
                
                <tr>
                    <td class="arrow"> <button type="submit" name="buttonType" value="TopLeft"><img class="arrow-img" src="/imgs/arrowTop.png"  alt="arrowTopLeft" style=transform:rotate(-45deg)></button></td>
                    <td class="arrow"> <button type="submit" name="buttonType" value="Top"><img class="arrow-img" src="/imgs/arrowTop.png" alt="arrowTop"></button></td>
                    <td class="arrow"> <button type="submit" name="buttonType" value="TopRight"><img class="arrow-img" src="/imgs/arrowTop.png" alt="arrowTopRight" style=transform:rotate(45deg)></button></td>
                    
                </tr>
                <tr>
                    <td class="arrow"> <button type="submit" name="buttonType" value="Left"><img class="arrow-img" src="/imgs/arrowLeft.png" alt="arrowLeft"></button></td>
                    <td > 
                    <table id="mainBoxTable">
                        <tr>
                            <td class="mainbox-objectives">
                                <input id="box0" class="input" maxlength=9 name="TopLeft" style=background-color:<%=themeColor%>>
                            <h5 id = "box0" class="text"></h5>
                            </td>
                            <td class="mainbox-objectives">
                                <input id="box1" class="input" maxlength=9 name="Top" style=background-color:<%=themeColor%>>
                                <h5 id = "box1" class="text"></h5>
                            </td>
                            <td class="mainbox-objectives">
                                <input id="box2" class="input" maxlength=9 name="TopRight" style=background-color:<%=themeColor%>>
                                <h5 id = "box2" class="text"></h5>
                            </td>
                        </tr>
                        <tr>
                            <td class="mainbox-objectives">
                                <input id="box3" class="input" maxlength=9 name="Left" style=background-color:<%=themeColor%>>
                                <h5 id = "box3" class="text"></h5>
                            </td>
                            <td class="mainbox-objectives">
                                <input id="box4" class="input" maxlength=9 name="mainObjective">
                                <h5 id = "box4" class="text"></h5>
                            </td>
                            <td class="mainbox-objectives">
                                <input id="box5" class="input" maxlength=9 name="Right" style=background-color:<%=themeColor%>>
                                <h5 id = "box5" class="text"></h5>
                            </td>
                        </tr>
                        <tr>
                            <td class="mainbox-objectives">
                                <input id="box6" class="input" maxlength=9 name="BottomLeft" style=background-color:<%=themeColor%>>
                                <h5 id = "box6"class="text"></h5>
                            </td>
                            <td class="mainbox-objectives">
                                <input id="box7" class="input" maxlength=9 name="Bottom" style=background-color:<%=themeColor%>>
                                <h5 id = "box7" class="text"></h5>
                            </td>
                            <td class="mainbox-objectives">
                                <input id="box8" class="input" maxlength=9 name="BottomRight" style=background-color:<%=themeColor%>>
                                <h5 id = "box8" class="text"></h5>
                            </td>
                        </tr>
    
                    </table>
                    
                    </td>
                    <td class="arrow"> <button type="submit" name="buttonType" value="Right"><img class="arrow-img" src="/imgs/arrowRight.png" alt="arrowRight"></button> </td>
                </tr>
                <tr>
                    <td class="arrow"> <button type="submit" name="buttonType" value="BottomLeft"><img class="arrow-img" src="/imgs/arrowBottom.png" style=transform:rotate(45deg) alt="arrowBottomLeft"></button></td>
                    <td class="arrow"> <button type="submit" name="buttonType" value="Bottom"><img class="arrow-img" src="/imgs/arrowBottom.png" alt="arrowBottom"></button></td>
                    <td class="arrow"> <button type="submit" name="buttonType" value="BottomRight"><img class="arrow-img" src="/imgs/arrowBottom.png" style=transform:rotate(-45deg) alt="arrowBottomRight"></button> </td>
                
                </tr>
            </table>

            <div>
                <button class="submit-btn" type="submit" name="buttonType" value="Save"><img class="btn-img" src="https://image.flaticon.com/icons/svg/483/483327.svg"></button>
                <input id="test">Hello</input>
            </div>
        </form>
        
        
</div>

<script src="/scripts/mainbox.js"></script>


<%- include('partials/footer') %>