<%- include("partials/header") -%>

<!-- Total Box -->

<div class="total-box marT_60">

    <!-- Top Line -->
    <div class="line">
        
        <div class="box">
            <div class="boxes">
                <input type="text" class="box-el">
                <input type="text" class="box-el">
                <input type="text" class="box-el">
            </div>
            <div class="boxes">
                <input type="text" class="box-el">
                <input type="text" class="box-el colored side-objective" name="TopLeft">
                <input type="text" class="box-el">
            </div>
            <div class="boxes">
                <input type="text" class="box-el">
                <input type="text" class="box-el">
                <input type="text" class="box-el">
            </div>
        </div>

        <div class="box">
            <div class="boxes">
                <input type="text" class="box-el">
                <input type="text" class="box-el">
                <input type="text" class="box-el">
            </div>
            <div class="boxes">
                <input type="text" class="box-el">
                <input type="text" class="box-el colored side-objective" name="Top">
                <input type="text" class="box-el">
            </div>
            <div class="boxes">
                <input type="text" class="box-el">
                <input type="text" class="box-el">
                <input type="text" class="box-el">
            </div>
        </div>

        <div class="box">
            <div class="boxes">
                <input type="text" class="box-el">
                <input type="text" class="box-el">
                <input type="text" class="box-el">
            </div>
            <div class="boxes">
                <input type="text" class="box-el">
                <input type="text" class="box-el colored side-objective" name="TopRight">
                <input type="text" class="box-el">
            </div>
            <div class="boxes">
                <input type="text" class="box-el">
                <input type="text" class="box-el">
                <input type="text" class="box-el">
            </div>
        </div>
    </div>

    <!-- Middle Line -->

    <div class="line">
        
        <div class="box">
            <div class="boxes">
                <input type="text" class="box-el">
                <input type="text" class="box-el">
                <input type="text" class="box-el">
            </div>
            <div class="boxes">
                <input type="text" class="box-el">
                <input type="text" class="box-el colored side-objective" name="Left">
                <input type="text" class="box-el">
            </div>
            <div class="boxes">
                <input type="text" class="box-el">
                <input type="text" class="box-el">
                <input type="text" class="box-el">
            </div>
        </div>

        <div class="box middle">
            <div class="boxes">
                <input type="text" class="box-el colored" name="TopLeft">
                <input type="text" class="box-el colored" name="Top">
                <input type="text" class="box-el colored" name="TopRight">
            </div>
            <div class="boxes">
                <input type="text" class="box-el colored" name="Left">
                <input type="text" class="box-el main-text">
                <input type="text" class="box-el colored" name="Right">
            </div>
            <div class="boxes">
                <input type="text" class="box-el colored" name="BottomLeft">
                <input type="text" class="box-el colored" name="Bottom">
                <input type="text" class="box-el colored" name="BottomRight">
            </div>
        </div>

        <div class="box">
            <div class="boxes">
                <input type="text" class="box-el">
                <input type="text" class="box-el">
                <input type="text" class="box-el">
            </div>
            <div class="boxes">
                <input type="text" class="box-el">
                <input type="text" class="box-el colored side-objective" name="Right">
                <input type="text" class="box-el">
            </div>
            <div class="boxes">
                <input type="text" class="box-el">
                <input type="text" class="box-el">
                <input type="text" class="box-el">
            </div>
        </div>
    </div>

    <!-- Bottom Line -->
    <div class="line">
        
        <div class="box">
            <div class="boxes">
                <input type="text" class="box-el">
                <input type="text" class="box-el">
                <input type="text" class="box-el">
            </div>
            <div class="boxes">
                <input type="text" class="box-el">
                <input type="text" class="box-el colored side-objective" name="BottomLeft">
                <input type="text" class="box-el">
            </div>
            <div class="boxes">
                <input type="text" class="box-el">
                <input type="text" class="box-el">
                <input type="text" class="box-el">
            </div>
        </div>

        <div class="box">
            <div class="boxes">
                <input type="text" class="box-el">
                <input type="text" class="box-el">
                <input type="text" class="box-el">
            </div>
            <div class="boxes">
                <input type="text" class="box-el">
                <input type="text" class="box-el colored side-objective" name="Bottom">
                <input type="text" class="box-el">
            </div>
            <div class="boxes">
                <input type="text" class="box-el">
                <input type="text" class="box-el">
                <input type="text" class="box-el">
            </div>
        </div>

        <div class="box">
            <div class="boxes">
                <input type="text" class="box-el">
                <input type="text" class="box-el">
                <input type="text" class="box-el">
            </div>
            <div class="boxes">
                <input type="text" class="box-el">
                <input type="text" class="box-el colored side-objective" name="BottomRight">
                <input type="text" class="box-el">
            </div>
            <div class="boxes">
                <input type="text" class="box-el">
                <input type="text" class="box-el">
                <input type="text" class="box-el">
            </div>
        </div>
    </div>

</div>





    
    





<script src="/scripts/mainbox.js"></script>


<%- include('partials/footer') %>



     <!-- <td class="mainBoxContainer">
            <form action="/mainbox" method="post">
            <table id="mainBox">
                
                <tr>
                    <td class="arrow"> <button type="submit" name="buttonType" value=0><img name="index" class="arrow-img" src="/imgs/arrowTop.png"  alt="arrowTopLeft" style=transform:rotate(-45deg)></button></td>
                    <td class="arrow"> <button type="submit" name="buttonType" value=1><img class="arrow-img" src="/imgs/arrowTop.png" alt="arrowTop"></button></td>
                    <td class="arrow"> <button type="submit" name="buttonType" value=2><img class="arrow-img" src="/imgs/arrowTop.png" alt="arrowTopRight" style=transform:rotate(45deg)></button></td>
                    
                </tr>
                <tr>
                    <td class="arrow"> <button type="submit" name="buttonType" value=3><img class="arrow-img" src="/imgs/arrowLeft.png" alt="arrowLeft"></button></td>
                    <td > 
                    <table id="mainBoxTable">
                        <tr>
                            <td class="mainbox-objectives">
                                <input autocomplete="off" id="main_box0" class="input" maxlength=9 name="TopLeft" style=background-color:<%=themeColor%>>
                            <h5 id = "main_box0" class="text"></h5>
                            </td>
                            <td class="mainbox-objectives">
                                <input autocomplete="off" id="main_box1" class="input" maxlength=9 name="Top" style=background-color:<%=themeColor%>>
                                <h5 id = "main_box1" class="text"></h5>
                            </td>
                            <td class="mainbox-objectives">
                                <input autocomplete="off" id="main_box2" class="input" maxlength=9 name="TopRight" style=background-color:<%=themeColor%>>
                                <h5 id = "main_box2" class="text"></h5>
                            </td>
                        </tr>
                        <tr>
                            <td class="mainbox-objectives">
                                <input autocomplete="off" id="main_box3" class="input" maxlength=9 name="Left" style=background-color:<%=themeColor%>>
                                <h5 id = "main_box3" class="text"></h5>
                            </td>
                            <td class="mainbox-objectives">
                                <input autocomplete="off" id="main_box4" class="input" maxlength=9 name="mainObjective">
                                <h5 id = "main_box4" class="text"></h5>
                            </td>
                            <td class="mainbox-objectives">
                                <input autocomplete="off" id="main_box5" class="input" maxlength=9 name="Right" style=background-color:<%=themeColor%>>
                                <h5 id = "main_box5" class="text"></h5>
                            </td>
                        </tr>
                        <tr>
                            <td class="mainbox-objectives">
                                <input autocomplete="off" id="main_box6" class="input" maxlength=9 name="BottomLeft" style=background-color:<%=themeColor%>>
                                <h5 id = "main_box6"class="text"></h5>
                            </td>
                            <td class="mainbox-objectives">
                                <input autocomplete="off" id="main_box7" class="input" maxlength=9 name="Bottom" style=background-color:<%=themeColor%>>
                                <h5 id = "main_box7" class="text"></h5>
                            </td>
                            <td class="mainbox-objectives">
                                <input autocomplete="off" id="main_box8" class="input" maxlength=9 name="BottomRight" style=background-color:<%=themeColor%>>
                                <h5 id = "main_box8" class="text"></h5>
                            </td>
                        </tr>
    
                    </table>
                    
                    </td>
                    <td class="arrow"> <button type="submit" name="buttonType" value=4><img class="arrow-img" src="/imgs/arrowRight.png" alt="arrowRight"></button> </td>
                </tr>
                <tr>
                    <td class="arrow"> <button type="submit" name="buttonType" value=5><img class="arrow-img" src="/imgs/arrowBottom.png" style=transform:rotate(45deg) alt="arrowBottomLeft"></button></td>
                    <td class="arrow"> <button type="submit" name="buttonType" value=6><img class="arrow-img" src="/imgs/arrowBottom.png" alt="arrowBottom"></button></td>
                    <td class="arrow"> <button type="submit" name="buttonType" value=7><img class="arrow-img" src="/imgs/arrowBottom.png" style=transform:rotate(-45deg) alt="arrowBottomRight"></button> </td>
                
                </tr>
            </table>

            <div>
                <button class="submit-btn" type="submit" name="buttonType" value="Save"><img class="btn-img" src="https://image.flaticon.com/icons/svg/483/483327.svg"></button>
            </div>
        </form>
       --> 