<%- include("partials/header") -%>

<body class="main-body">
  <form action="/main/create/:id" method="post">
    <input id="mainTitle" type="text" name="mainTitle" value=<%= box.title %> />
    <div class="mainbox-container">
      <div class="box-container">
        <div class="box-background">
          <div class="big-boxes">
            <% let bigI = 0; %>
            <div class="big-line">
              <% for(let i=0;i<3;i++){%>
              <div class="small-boxes side">
                <% let bigJ = 0; %>
                <div class="small-line">
                  <% for(let j=0;j<3;j++){%>
                  <textarea class="small-box" name="TopLeftPlan"
                    value=<%= box.smallPlans[bigI].plans[bigJ]%>></textarea>
                  <% bigJ+=1; %>
                  <%}%> </div>
                  <div class="small-line">
                    <% for(let j=0;j<3;j++){%>
                  <% if(j===1){%>
                  <textarea name="TopLeftObj" class="small-box small-obj"
                    value=<%= box.smallPlans[bigI].objective %>></textarea>
                  <%} else if(j===0 || j===2) {%>
                  <textarea class="small-box" name="TopLeftPlan"
                    value=<%= box.smallPlans[bigI].plans[bigJ]%>></textarea>
                  <% bigJ+=1; %>
                  <%}%>
                        


                  <%}%> </div>
                <div class="small-line">
                  <% for(let j=0;j<3;j++){%>
                  <textarea class="small-box" name="TopLeftPlan"
                    value=<%= box.smallPlans[bigI].plans[bigJ]%>></textarea>
                  <% bigJ+=1; %>
                  <%}%> </div>
              </div>
              <%bigI +=1 ;%>
                  <%}%>    
                </div>

            <div class="big-line">
                  <% for(let i=0;i<3;i++){%>
                  <%if(i===1){%>
                  <div class="small-boxes middle">
                    <div class="small-line">
                      <textarea name="TopLeftObj" class="small-box small-obj"
                        value=<%= box.smallPlans[0].objective%>></textarea>
                      <textarea name="TopObj" class="small-box small-obj"
                        value=<%= box.smallPlans[1].objective%>></textarea>
                      <textarea name="TopRightObj" class="small-box small-obj"
                        value=<%= box.smallPlans[2].objective%>></textarea>
                    </div>
                    <div class="small-line">
                      <textarea name="LeftObj" class="small-box small-obj"
                        value=<%= box.smallPlans[3].objective%>></textarea>
                      <textarea class="small-box main-obj"></textarea>
                      <textarea name="RightObj" class="small-box small-obj"
                        value=<%= box.smallPlans[4].objective%>></textarea>
                    </div>
                    <div class="small-line">
                      <textarea name="BottomLeftObj" class="small-box small-obj"
                        value=<%= box.smallPlans[5].objective%>></textarea>
                      <textarea name="BottomObj" class="small-box small-obj"
                        value=<%= box.smallPlans[6].objective%>></textarea>
                      <textarea name="BottomRightObj" class="small-box small-obj"
                        value=<%= box.smallPlans[7].objective%>></textarea>
                    </div>
                  </div>
                  <%}else if(i===0||i===2){%>
                  <div class="small-boxes side">
                    <div class="small-boxes side">
                      <% let bigJ = 0; %>
                      <div class="small-line">
                        <% for(let j=0;j<3;j++){%>
                        <textarea class="small-box" name="TopLeftPlan"
                          value=<%= box.smallPlans[bigI].plans[bigJ]%>></textarea>
                        <% bigJ+=1; %>
                        <%}%> </div>
                        <div class="small-line">
                          <% for(let j=0;j<3;j++){%>
                        <% if(j===1){%>
                        <textarea name="TopLeftObj" class="small-box small-obj"
                          value=<%= box.smallPlans[bigI].objective %>></textarea>
                        <%} else if(j===0 || j===2) {%>
                        <textarea class="small-box" name="TopLeftPlan"
                          value=<%= box.smallPlans[bigI].plans[bigJ]%>></textarea>
                        <% bigJ+=1; %>
                        <%}%>
                              
      
      
                        <%}%> </div>
                      <div class="small-line">
                        <% for(let j=0;j<3;j++){%>
                        <textarea class="small-box" name="TopLeftPlan"
                          value=<%= box.smallPlans[bigI].plans[bigJ]%>></textarea>
                        <% bigJ+=1; %>
                        <%}%> </div>
                    </div>
                    </div>
                    <%bigI +=1 ;%>
                        <%}%>
                      <%}%>
                      </div>
                      <div class="big-line">
                        <% for(let i=0;i<3;i++){%>
                        <div class="small-boxes side">
                          <% let bigJ = 0; %>
                          <div class="small-line">
                            <% for(let j=0;j<3;j++){%>
                            <textarea class="small-box" name="TopLeftPlan"
                              value=<%= box.smallPlans[bigI].plans[bigJ]%>></textarea>
                            <% bigJ+=1; %>
                            <%}%> </div>
                            <div class="small-line">
                              <% for(let j=0;j<3;j++){%>
                            <% if(j===1){%>
                            <textarea name="TopLeftObj" class="small-box small-obj"
                              value=<%= box.smallPlans[bigI].objective %>></textarea>
                            <%} else if(j===0 || j===2) {%>
                            <textarea class="small-box" name="TopLeftPlan"
                              value=<%= box.smallPlans[bigI].plans[bigJ]%>></textarea>
                            <% bigJ+=1; %>
                            <%}%>
                                  
          
          
                            <%}%> </div>
                          <div class="small-line">
                            <% for(let j=0;j<3;j++){%>
                            <textarea class="small-box" name="TopLeftPlan"
                              value=<%= box.smallPlans[bigI].plans[bigJ]%>></textarea>
                            <% bigJ+=1; %>
                            <%}%> </div>
                        </div>
                        <%bigI +=1 ;%>
                            <%}%>    
                          </div>
                    </div>
                  </div>
                </div>
              </div>
              <button class="check" type="submit"><img src="/svg/check.svg" /></button>
  </form>
  <div>
    <h2><%= box.objective %></h2>
                          </div>
                          <script>
                            const themeId = sessionStorage.getItem("themeId")
                            document.documentElement.setAttribute('data-theme', themeId);
                          </script>
</body>

<%- include('partials/footer') %>