<%- include("partials/header") -%>
<form action="/smallbox" method="post">
    <div class="smallBoxContainer">
        <table id="smallbox">
            <tr>
                <td class="plan">
                    <input id="small_box0" class="form-control input" name="plans">
                    <h5 id="small_box0" class="text"><%=smallBox.plans[0]%></h5>
                </td>
                <td class="plan">
                    <input id="small_box1" class="form-control input" name="plans">
                    <h5 id="small_box1" class="text"><%=smallBox.plans[1]%></h5 class="text">
                </td>
                <td class="plan">
                    <input id="small_box2" class="form-control input" name="plans">
                    <h5 id="small_box2" class="text"><%=smallBox.plans[2]%></h5>
                </td>
            </tr>
            <tr>
                <td class="plan">
                    <input id="small_box3" class="form-control input" name="plans">
                    <h5 id="small_box3" class="text"><%=smallBox.plans[3]%></h5>
                </td>
                
                <td class="plan" > <div class="colored-objective"><h4><%=smallBox.objective%></h4></div></td>
                
                <td class="plan">
                    <input id="small_box4" class="form-control input" name="plans">
                    <h5 id="small_box4" class="text"><%=smallBox.plans[4]%></h5>
                </td>
            </tr>
            <tr>
                <td class="plan">
                    <input id="small_box5" class="form-control input" name="plans">
                    <h5 id="small_box5" class="text"><%=smallBox.plans[5]%></h5>
                </td>
                <td class="plan">
                    <input id="small_box6" class="form-control input" name="plans">
                    <h5 id="small_box6" class="text"><%=smallBox.plans[6]%></h5>
                </td>
                <td class="plan">
                    <input id="small_box7" class="form-control input" name="plans">
                    <h5 id="small_box7" class="text"><%=smallBox.plans[7]%></h5>
                </td>
            </tr>
        </table>
    </div>
    <button class="smallbox-submit-btn" type="submit"><img class="btn-img" src="https://image.flaticon.com/icons/svg/483/483327.svg"></button>  
</form>
<script src="/scripts/smallbox.js"></script>

<%- include('partials/footer') %>