<%- include("partials/header") -%>
<form action="/smallbox" method="post">
    <div class="smallBoxContainer">
        <table id="smallbox">
            <tr>
                <td class="plan">
                    <input id="small_box0" maxlength=9 value="<%=smallBoxes[index].plans[0]%>" class="form-control input" name="plans">
                    <h5 id="small_box0" class="text"></h5>
                </td>
                <td class="plan">
                    <input id="small_box1" maxlength=9 value="<%=smallBoxes[index].plans[1]%>" class="form-control input" name="plans">
                    <h5 id="small_box1" class="text"></h5 class="text">
                </td>
                <td class="plan">
                    <input id="small_box2" maxlength=9 value="<%=smallBoxes[index].plans[2]%>" class="form-control input" name="plans">
                    <h5 id="small_box2" class="text"></h5>
                </td>
            </tr>
            <tr>
                <td class="plan">
                    <input id="small_box3" maxlength=9 value="<%=smallBoxes[index].plans[3]%>" class="form-control input" name="plans">
                    <h5 id="small_box3" class="text"></h5>
                </td>
                
                <td class="plan" > <div class="colored-objective"><h4><%=smallBoxes[index].objective%></h4></div></td>
                
                <td class="plan">
                    <input id="small_box4" maxlength=9 value="<%=smallBoxes[index].plans[4]%>" class="form-control input" name="plans">
                    <h5 id="small_box4" class="text"></h5>
                </td>
            </tr>
            <tr>
                <td class="plan">
                    <input id="small_box5" maxlength=9 value="<%=smallBoxes[index].plans[5]%>" class="form-control input" name="plans">
                    <h5 id="small_box5" class="text"></h5>
                </td>
                <td class="plan">
                    <input id="small_box6" maxlength=9 value="<%=smallBoxes[index].plans[6]%>" class="form-control input" name="plans">
                    <h5 id="small_box6" class="text"></h5>
                </td>
                <td class="plan">
                    <input id="small_box7" maxlength=9 value="<%=smallBoxes[index].plans[7]%>" class="form-control input" name="plans">
                    <h5 id="small_box7" class="text"></h5>
                </td>
            </tr>
        </table>
    </div>
    <button class="smallbox-submit-btn" type="submit"><img class="btn-img" src="https://image.flaticon.com/icons/svg/483/483327.svg"></button>  
</form>
<script src="/scripts/smallbox.js"></script>

<%- include('partials/footer') %>